body {
  background-image: url('./bg.png'); /* Substitua pela sua imagem */
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
  color: #ecf0f1; /* Cor do texto */
  font-family: 'Roboto', sans-serif; /* Fonte mais moderna */
  height: 100vh; /* Altura total da janela */
  margin: 0; /* Remove margem padrão */
  display: flex; /* Flexbox para centralizar o conteúdo */
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  position: relative; /* Para o posicionamento absoluto da imagem decorativa */
}

.container {
  display: flex; /* Flexbox para organizar a logo e o menu */
  align-items:center; /* Centraliza verticalmente os itens do contêiner */
  background: rgba(64, 65, 97, 0.395); /* Aumentei a opacidade de 0.05 para 0.3 */
  padding: 40px; /* Aumentar espaçamento interno */
  border-radius: 15px; /* Bordas arredondadas */
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.7); /* Sombra mais suave */
  gap: 30px; /* Espaço entre a logo e o menu */
  position: relative; /* Para o posicionamento absoluto da imagem decorativa */
}

.menu {
  text-align: center; /* Centralizar texto dentro do menu */
}

.logo {
  width: 200px; /* Ajustar largura da logo */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); /* Sombra sutil */
}

.buttons {
  display: flex; /* Flexbox para os botões */
  flex-direction: column; /* Colocar botões em coluna */
  align-items: center; /* Centralizar botões */
  margin-top: 20px; /* Espaço acima dos botões */
}

.buttons button {
  background-color: #3498db; /* Cor de fundo dos botões */
  border: none; /* Remove borda padrão */
  color: white; /* Cor do texto dos botões */
  padding: 12px 20px; /* Ajustar espaçamento interno dos botões */
  margin: 10px 0; /* Espaçamento entre os botões */
  font-size: 1.1em; /* Tamanho da fonte dos botões */
  cursor: pointer; /* Cursor tipo pointer */
  border-radius: 25px; /* Bordas mais arredondadas */
  transition: background-color 0.3s, transform 0.2s; /* Efeito de transição ao passar o mouse */
}

.buttons button:hover {
  background-color: #2980b9; /* Cor de fundo ao passar o mouse */
  transform: translateY(-3px); /* Levantar o botão ao passar o mouse */
}

.buttons button:active {
  transform: translateY(0); /* Retorna ao normal quando clicado */
}
